= render "shared/header"
.ui.text.container.center.aligned.grid
  %h3{style: "margin-top: 30px"} どのジャンルから選ぶ？
  = link_to "ランダム", random_menu_decide_menus_path, class: "fluid ui gray big button"
  = link_to "主食", random_menu_decide_menus_path, class: "fluid ui yellow big button", style: "margin-top: 40px"
  = link_to "主菜", random_menu_decide_menus_path, class: "fluid ui red big button", style: "margin-top: 40px"
  = link_to "野菜", random_menu_decide_menus_path, class: "fluid ui green big button", style: "margin-top: 40px"
  = link_to "一品もの", random_menu_decide_menus_path, class: "fluid ui orange big button", style: "margin-top: 40px"
  = link_to "デザート", random_menu_decide_menus_path, class: "fluid ui pink big button", style: "margin-top: 40px"
  = link_to "その他", random_menu_decide_menus_path, class: "fluid ui purple big button", style: "margin-top: 40px"
  = link_to "外食", random_menu_decide_menus_path, class: "fluid ui brown big button", style: "margin-top: 40px"