%div
  = render "shared/header"
  = form_with model: @menu do |f|
    .ui.grid.container{style: "padding-top: 7%;"}
      %h1 写真
      = f.fields_for :images do |i|
        .doubling.four.column.row
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 1}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", onChange: "imgPreView(event, 'preview1')", id: "preview1"
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 2}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", onChange: "imgPreView(event, 'preview2')", id: "preview2"
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 3}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", onChange: "imgPreView(event, 'preview3')", id: "preview3"

          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 4}
              .contents
                .ui.bottom.attached.buttons
                  = i.label :image, '変更', class: 'ui green button'
                  = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", onChange: "imgPreView(event, 'preview4')"
                  .or
                  %button.ui.red.button.delete-preview  削除