%div
  = render "shared/header"
  = form_with model: @menu do |f|
    .ui.grid.container{style: "padding-top: 7%;"}
      %h1 写真
      = f.fields_for :images do |i|
        .doubling.four.column.row
          .column
            .ui.card
              .image
                = image_tag 'dummyhuman.png', class: "change-image"
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", data: {preview_id: 1}
          .column
            .ui.card
              .image
                = image_tag 'dummyhuman.png', class: "change-image"
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', id: 'preview-2', style: "display:none;", data: {preview_id: 2}
          .column
            .ui.card
              .image
                = image_tag 'dummyhuman.png', class: "change-image"
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', id: 'preview-3', style: "display:none;", data: {preview_id: 3}
          .column
            .ui.card
              .image
                = image_tag 'dummyhuman.png', class: "change-image"
              .contents
                .ui.bottom.attached.buttons
                  = i.label :image, '変更', class: 'ui green button'
                  = i.file_field :image, type: 'file', class: 'change-file', id: 'preview-4', style: "display:none;", data: {preview_id: 4}
                  .or
                  %button.ui.red.button 削除
                  
                -# = i.label :image, '画像を追加', class: 'ui bottom attached button'
                -# = i.file_field :image, type: 'file', class: 'change-file', id: 'preview-4', style: "display:none;", data: {preview_id: 4}