%div
  = render "shared/header"
  = form_with model: @menu do |form|
    .ui.grid.container{style: "padding-top: 30px;"}
      %h2 写真
      = form.fields_for :images do |image|
        .doubling.four.column.row
          - 4.times do |i|
            .column
              .ui.card
                .image
                  = image_tag 'noimage.png', class: "ui medium rounded image change-image", id: "preview-img#{i}", style: "height: 250px;"
                  = image.label :image, '画像を追加', class: 'ui bottom attached button', for: "preview-file#{i}", id: "preview-btn#{i}"
                  = image.file_field :image, type: 'file', class: 'preview-file', id: "preview-file#{i}", style: "display: none;", onchange: "addImg(event, #{i})"

:javascript
  // 画像追加
  function addImg(event, targetId) {
    let file = event.target.files[0];
    let reader = new FileReader();
    let previewImage = document.getElementById("preview-img"+targetId);
    // src入れ替え
    reader.onload = function(event) {
      previewImage.setAttribute("src", reader.result);
    };
    reader.readAsDataURL(file);
    // ボタン変更
    let imgAddBtn = document.getElementById("preview-btn"+targetId);
    imgAddBtn.remove(); // 元のボタンを削除
    // ボタン要素
    let changeBottons = `
                          <div class="contents">
                            <div class="ui button attached buttons" id="preview-btn${targetId}">
                              <label class="ui green button" for="preview-file${targetId}">変更</label>
                              <input type="file" style="display:none;" class="previewfile" id="previewfile${targetId}" onchange="addImg(event, ${targetId}})"></input>
                              <div class="or"></div>
                              <button class="ui red button" onchange="deleteImg(event, ${targetId}})">削除</button>
                            </div>
                          </div>
                        `
    // 要素追加
    document.getElementById("preview-img"+targetId).insertAdjacentHTML("afterend", changeBottons)
  }

  // 画像削除
  function deleteImg(event, targetId){
  }
