%div
  = render "shared/header"
  = form_with model: @menu do |f|
    .ui.grid.container{style: "padding-top: 7%;"}
      %h1 写真
      = f.fields_for :images do |i|
        .doubling.four.column.row
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 1}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", data: {menu_file_id: 1}
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 2}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", data: {menu_file_id: 2}
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 3}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", data: {menu_file_id: 3}
          .column
            .ui.card
              .image
                = image_tag 'noimage.png', class: "change-image", data: {menu_image_id: 4}
              .contents
                = i.label :image, '画像を追加', class: 'ui bottom attached button'
                = i.file_field :image, type: 'file', class: 'change-file', style: "display:none;", data: {menu_file_id: 4}