%div
  = render "shared/header"
  %h1.ui.container.header
    .content
      = @menu.name
  .ui.container
    .ui.stackable.two.column.grid{style: "margin-top: 30px;"}
      .center.aligned.column
        .previews
          .slider
            = image_tag @menu.menu_images[0].image.url
            - if @menu.menu_images[1].present?
              - @menu.menu_images.each_with_index do |i, index|
                - next if index == 0
                = image_tag @menu.menu_images[index].image.url
      .column
        - if @menu.genre.present?
          .ui.dividing.header ジャンル
          %p= @menu.genre
        - if @menu.site.present?
          .ui.dividing.header 関連URI
          %a{href: @menu.site}= @menu.site
        - if @menu.text.present?
          .ui.dividing.header メモ
          %p= @menu.text

:javascript
  $(function() {
    $('.slider').slick({
        prevArrow:'<i class="fa fa-angle-left arrow arrow-left"></i>',
        nextArrow:'<i class="fa fa-angle-right arrow arrow-right"></i>',
        dots: true,
        autoplay: true,
        autoplaySpeed: 4000,
        speed: 800
    });

    $('.slick-dots li').on('mouseover', function() {
      $('.slider').slick('goTo', $(this).index());
    });
  });

:css
  .slider img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
  }