%div
  = render "shared/header"
  %h1.ui.container.header
    .content
      = @menu.name
  .ui.container
    .ui.stackable.two.column.grid{style: "margin-top: 30px;"}
      .center.aligned.column
        .ui.shape
          .sides
            .active.side
              .ui.centered.card
                .image
                  = image_tag @menu.menu_images[0].image.url
            - if @menu.menu_images[1].present?
              - @menu.menu_images.each_with_index do |i, index|
                - next if index == 0
                .side
                  .ui.centered.card
                    .image
                      = image_tag @menu.menu_images[index].image.url
        %h1
        .ui.container.two.buttons
          .ui.button{id: "left-btn"}
            %i.left.long.arrow.icon
          .ui.button{id: "right-btn"}
            %i.right.long.arrow.icon
      .column
        - if @menu.genre.present?
          .ui.dividing.header ジャンル
          %p= @menu.genre
        - if @menu.site.present?
          .ui.dividing.header 関連URI
          %a{href: @menu.site}= @menu.site
        - if @menu.text.present?
          .ui.dividing.header メモ
          %p= @menu.text
