<div>
  <div class="ui orange inverted menu" style="height: 60px;">
   <%= link_to "戻る", :back, class: "item" %>
  </div>
  <div class="ui container grid" style="padding-top: 7%;">
    <div class="six wide column">
      <%= form_with model: @user do |f| %>
        <div class="ui special cards">
          <div class="card">
              <div class="blurring dimmable image">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      <div class="ui inverted button">
                        <%= f.label :icon, "変更" %>
                        <%= f.file_field :icon, style: "display:none;" %>
                      </div>
                    </div>
                  </div>
                </div>
                <% if current_user.icon.present? %>
                  <%= image_tag current_user.icon.url, class: "ui small circular image" %>
                <% else %>
                  <%= image_tag 'dummyhuman.png', class: "ui small circular image" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="ten wide column">
          <div class="ui container form">
            <div class="required field">
              <label>名前</label>
              <%= f.text_field :name, placeholder: "guest", style: "width: 200px;" %>
            </div>
            <div class="required field">
              <label>メールアドレス</label>
              <%= f.email_field :email, placeholder: "example.com" %>
            </div>
            <div class="field">
              <label>コメント</label>
              <%= f.text_area :text, placeholder: "私の名前は〜" %>
            </div>
          </div>
          <div class="ui text container center aligned" style="margin-top: 20px;">
            <%= f.submit "変更", class: "ui primary button" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

