%div
  = render "shared/header"
  = form_with model: @user, local: true, method: :put do |f|
    .ui.container.grid{style: "padding-top: 7%;"}
      .six.wide.column
        .ui.special.cards
          .card
            .blurring.dimmable.image
              .ui.dimmer
                .content
                  .center
                    .ui.inverted.button
                      = f.label :icon, "変更"
                      = f.file_field :icon, style: "display:none;", class: "change-file"
              - if current_user.icon.present?
                = image_tag current_user.icon, class: "change-image"
              - else
                = image_tag 'dummyhuman.png', class: "change-image"
      .ten.wide.column
        .ui.container.form
          .required.field
            %label 名前
            .field
              - if @user.errors.any?
                .ui.pointing.below.red.basic.label 名前を入力してください
              %br
              = f.text_field :name, placeholder: "guest", style: "width: 200px;"
          .field
            %label コメント
            = f.text_area :profile, placeholder: "私の名前は〜"
        .ui.text.container.center.aligned{style: "margin-top: 20px;"}
          = f.submit "変更", class: "ui primary button"
