= render "shared/header"
.ui.text.container.center.aligned.grid{style: "margin-top: 20px;"}
  %h1.ui.header= "#{@random_menu.name}にしましょう"
.ui.container
  .ui.stackable.two.column.grid{style: "margin-top: 30px;"}
    .center.aligned.column
      .ui.shape
        .sides
          .active.side
            .ui.centered.card
              .image
                = image_tag @random_menu.menu_images[0].image.url, style: "height: 280px"
          - if @random_menu.menu_images[1].present?
            - @random_menu.menu_images.each_with_index do |i, index|
              - next if index == 0
              .side
                .ui.centered.card
                  .image
                    = image_tag @random_menu.menu_images[index].image.url, style: "height: 280px"
      %h1
      .ui.container.two.buttons
        .ui.button{id: "left-btn"}
          %i.left.long.arrow.icon
        .ui.button{id: "right-btn"}
          %i.right.long.arrow.icon
    .column
      - if @random_menu.genre.present?
        .ui.dividing.header ジャンル
        %p= @random_menu.genre
      - if @random_menu.site.present?
        .ui.dividing.header 関連URI
        %a{href: @random_menu.site}= @random_menu.site
      - if @random_menu.text.present?
        .ui.dividing.header メモ
        %p= @random_menu.text
  .ui.text.container.center.aligned.grid{style: "margin-top: 40px;"}
    = link_to "この気分じゃない", random_menu_decide_menus_path, class: "fluid ui orange big button", style: "margin-bottom: 40px;"