%div
  .ui.orange.inverted.menu{style: "height: 60px;"}
    .ui.dropdown.item
      - if current_user.icon.present?
        = image_tag current_user.icon, class: "ui mini circular image"
      - else
        = image_tag 'dummyhuman.png', class: "ui mini circular image"
       #{current_user.name}
      %i.dropdown.icon
      .menu
        = link_to "ユーザー情報編集", edit_user_path(current_user.id), class: "item"
        = link_to "メールアドレス・パスワード変更", edit_user_registration_path, class: "item"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "item"
    = link_to "メニュー", menus_path, class: "item"
    %a.item 投稿
    .right.menu
      .item
        .ui.transparent.icon.input
          %input{placeholder: "Search...", type: "text"}/
          %i.search.link.icon
