.meal-image
  .ui.text.container.center.aligned.grid{style: "padding-top: 5%;"}
    .column
      %h2.ui.header パスワードをお忘れの方へ
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui form" }) do |f|
        = render "users/shared/error_messages", resource: resource
        .field
          = f.label :email
          %br/
          .ui.left.icon.input
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example.com"
            %i.mail.icon
        .actions
          = f.submit "パスワードの変更を依頼します", class: "ui primary button"
      .ui.message
        = render "users/shared/links"
